<%- include("partials/header.ejs")  %>

<div class="AboutflexContainer">


    <div class="invContainer">
      <div class="invBox1"></div>
      <h2 class="AboutMe">About Me</h2>
      <div class="invBox2"></div>
    </div>

    <div class="AboutMeText">
        <p>My name is Karl Fleming. I am 24 years old from Ireland. When I was 19, I graduated from secondary school and went straight into an electrical apprenticeship. 
           After 5 years of hard work, I earned my qualification. However, ever since my fourth year in as an apprentice, I began to become bored with that type of work.
           Having learned all I could, I wanted to move onto something else. So I quit my job and began learning how to code, full time. I had been learning a little bit
           before I quit my job, but now I had the oppertunity to learn 8 hours a day 6 days a week. And I am determined to make this my career </p>
    </div>

</div>

<%- include("partials/footer.ejs")  %>