<%- include("partials/header.ejs")  %>

<div class="formContainer">
  
  <form action="/submit" method="post">
    <H1>Contact Me</H1>
    <span><input name="name" class="name" type="text" placeholder="Name" required></span>
    <span><input name="email" class="email" type="email" placeholder="Email" required></span>
    <span><input name="age" class="age" max="120" min="18" type="number" placeholder="Age"></span>
    <input class="submit" type="submit">
  </form>
  
</div>

<%- include("partials/footer.ejs")  %>