<%- include("partials/header.ejs")  %>

<div class="row">
  <div class="col-md-3 col-sm-12 profile">
    <img class="profileIMG" src="/images/ME.PNG">
  </div>
  <div class="col-md-9 col-sm-12 short-bio">d</div>
</div>

<%- include("partials/footer.ejs")  %>