<%- include("partials/header.ejs")  %>

<div class="carouselContainer">
    <H1 class="MyProjects">My Projects</H1>

<div id="carouselExampleCaptions" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <a href="https://dexedus.github.io/Casino-Site/"><img src="/images/casinoapp.PNG" class="d-block w-100" alt="Casino app project"></a>
        <div class="carousel-caption d-none d-md-block">
          <h5>Casino Frontpage</h5>
          <p>A mock-up for the front page of a casino website.</p>
        </div>
      </div>
      <div class="carousel-item">
        <a href="https://dexedus.github.io/Calculator/"><img src="/images/Calculator.PNG" class="d-block w-100" alt="Claculator project"></a>
        <div class="carousel-caption d-none d-md-block">
          <h5>Calculator App</h5>
          <p>A function JavaScript calculator that I made</p>
        </div>
      </div>
      <div class="carousel-item">
        <a href="https://github.com/Dexedus/TinDog"><img src="/images/TinDog.PNG" class="d-block w-100" alt="Tindog project"></a>
        <div class="carousel-caption d-none d-md-block">
          <h5>TinDog project</h5>
          <p>This was a project I did as part of a boot-camp course.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  </div>

<%- include("partials/footer.ejs")  %>