html{
    cursor: default;
}
/*Header Styling*/
.header-container{
    position: fixed;
    display: flex;
    width: 100%;
    justify-content: space-around;
    background-color: rgb(0, 167, 218);
    color: white;
    height: 60px;
    align-items: center;
    font-size: 1.1em;
    border-bottom: solid 3px rgb(36, 127, 163);
    z-index: 22;
}

body{
   background: linear-gradient(0deg,rgb(171, 188, 190), rgb(218, 225, 226), rgb(255, 255, 255))
}

.navlink{
    margin: 0;
    transition: color 1s, transform 1s
}
.navlink:hover{
    transform: scale(1.05);
    cursor: pointer;
    color: rgb(177, 177, 177);
}
a{
    transition: color 1s ease-in-out;
}
a:hover{
    color: rgb(202, 202, 202);
}
#work:hover{
    color: rgb(0, 167, 218);
}

#logo{
    font-family: Mr De Haviland;
    font-size: 2.1em;
    align-self: flex-start;
    margin-left: -40px;
}

.LogoLink, .nav-item{
    text-decoration: none;
    color: white;
}

/*Header Styling*/



/* Content Styles*/
.profile{
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-items: start;
    align-items: center;
    background: linear-gradient(0deg,rgb(171, 188, 190), rgb(218, 225, 226), rgb(255, 255, 255))

}

.profileIMG{
    height: 140px;
    border-radius: 100px;
    margin-top: 120px!important;
    transition: transform 1s;
    z-index: 10;
}
.profileIMG:hover{
    transform: scale(1.10);
}
    

.profileBIO{
    text-align: center;
    margin-top: 12vh;
    font-size: 1.5rem;
    z-index: 20;
    animation-name: riseIn;
    animation-duration: 1.2s;
    animation-timing-function: ease-out;
}

.short-bio{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: solid 4px rgb(36, 127, 163);
    background-color: rgb(238, 238, 238);
    
    z-index: 21;
}

.short-bioContainer{
    animation-name: fromTheSide;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
}

.MeTitle{
    font-size: 7rem!important;
    float:left;
    z-index: 10;
    
}

.MeBio{
    font-size: 2rem;
    width: 420px;
}



.cloud{
    height: 120px;
    transition: height 0.5s;
    
}
.cloud:hover{
    height: 124px;
}

#cloud1{
    position: absolute;
    top: 40%;
    left: 5%;
    animation-name: cloud-movementOne;
    animation-duration: 60s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#cloud2{
    position: absolute;
    top: 23%;
    right: 7%;
    z-index: 11;
    animation-name: cloud-movementTwo;
    animation-duration: 85s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#cloud3{
    position: absolute;
    right: 20%;
    bottom: 20%;
    z-index: 11;
    animation-name: cloud-movementThree;
    animation-duration: 50s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.hill{
    z-index: 20;
    position: fixed;
    bottom: 0;
}


.AboutflexContainer{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.invContainer{
    display: flex;
    justify-content: center;
    width: 500px;
}

.invBox1, .invBox2{
    border-bottom: solid black;
    width: 100%;
}

.AboutMe{
    text-align: center;
    border: solid black;
    border-bottom: none;
    background-color: white;
    min-width: 200px;
    padding: 20px;
    margin: 0;
    

}


.AboutMeText{
    text-align: center;
    border: solid black;
    background-color: white;
    border-top: solid white;
    padding: 20px;
    max-width: 500px;

}



.MyProjects{
    margin-top: -70px;
    margin-bottom: 50px;
}

.carouselContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.carousel, .slide{
    height: 500px;
    width: 1000px;
}

.carousel-caption{
    background-color: rgb(9, 138, 177);
    border-radius: 10px;
}

.carousel-inner{
    border: solid 5px rgb(36, 127, 163);
}

.formContainer{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

span{
    display: flex;
    margin-block: 20px;
    width: 100%;
    justify-content: center;
}

form{
    background-color: white;
    padding: 20px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid black;
}

.age, .email, .name{
    width: 70%;
    background-color: rgb(235, 242, 243);
    border-radius: 5px;
    text-align: center;
}

h1{
    text-align: center;
}

.submit{
    width: 50%;
    margin-top: 10px;
}

/* Content Styles*/




/*footer styles*/
footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: rgb(0, 167, 218);
    display: flex;
    justify-content: center;
    height: 60px;
    border-top: solid 3px rgb(36, 127, 163);
    z-index: 50;

}

svg{
    height: 40px;
    width: 40px;
    color: white;
    margin-inline: 20px;
    margin-top: 11%;
}

/*footer styles*/

@media(max-width: 1000px){
    .carousel, .slide{
        width: 640px;
        height: 350px;
    }


    .carousel-caption{
        display: none;
        
    }


    
}

@media (max-width: 768px){
    .profile{
        border-right: none
    
    }

    .short-bio{
        border-left: none;
    }
}

@media (max-width: 650px){
    .header-container{
        justify-content: center;
        font-size: 0.9em;
    }

    #logo{
        align-self: center;
    }

    .navlink{
        margin-inline: 5px;
    }

    .MeBio{
        width: 300px;
        font-size: 1.5rem;
    }
    
    .short-bio{
        border-left: none;
    }

    .MeTitle{
        font-size: 5rem!important;
        
    }

    .AboutMeText, .invContainer{
        max-width: 350px;
    
    }

    .profile{
        border-right: none
    
    }

        .carousel, .slide{
        width: 330px;
        height: 220px;
    }
}


@keyframes cloud-movementOne {

    0%{
        transform: translateX(-150px);
    }

    50%{
        transform: translateX(600px);
    }
    
    100%{
        transform: translateX(-150px);
    }
}

@keyframes cloud-movementTwo {

    0%{
        transform: translateX(150px);
    }

    50%{
        transform: translateX(-600px);
    }
    
    100%{
        transform: translateX(150px);
    }
}

@keyframes cloud-movementThree {

    0%{
        transform: translateX(210px);
    }

    50%{
        transform: translateX(-600px);
    }
    
    100%{
        transform: translateX(210px);
    }
}


@keyframes riseIn {

    0%{
        scale: 0.5;
        transform: translateY(400px);
        color: #21252900;
    }

    75%{
        transform: translateY(-5px);
        color: #21252994;
    }

    100%{
        transform: translateY(0px);
        color: #212529;
    }

}

 @keyframes fromTheSide {

    0%{
        position: fixed;
        transform: translateX(1000px)
    }        
 }
    
